*{
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
   
}
body {
    background-color: rgb(230, 228, 228);

}


.bit {
    text-decoration: none;
    margin-top: auto;
    color: aliceblue;    
}
.bit:hover {
    color: aliceblue;
}
.search {
    margin-bottom: 4px;
    
}
img{
    width: 100%;
    height: 500px;
}

h1{
    text-align: center;
}
.center{
    text-align: center;
}
nav{
    p{
        margin-top: 12px;
    }
    input{
        height: 30px;
        margin-top: 12px;
        border-radius: 6px;
    }
}

main {
    .movies{
        border: 1px solid grey;
        padding: 10px 40px 10px 15px;
    }
}

div{
    #imgResponse{
        width: 500px;
        height: auto;
    }
}

.fade {
    opacity: 1;
  }
 .fade:hover {
     transform: scale(1.04);
     cursor: pointer;
     img {
         border-radius: 10px 10px 0 0;
     }
     p {
         border-radius: 0 0 10px 10px;
     }
 }

 .list {
     list-style: none;
     display: block;
     padding: 10px;
     img {
         height: 30px;
         width: 30px;
         border-radius: 50px;
         vertical-align: middle;
         -webkit-box-shadow: 0px 0px 6px 3px rgba(26,26,26,0.82); 
box-shadow: 0px 0px 6px 3px rgba(26,26,26,0.82);
        //  display: none;
     }
     p {
         display: inline;
         margin-left: 10px;
     }
     
     
 }

 .list:hover {
     background-color: rgb(0, 60, 255);
     color: antiquewhite;
     cursor: pointer;
     img {
         display: inline;
         transform: rotate(180deg, 5s);
         animation: mymove 3s infinite;
     }
     @keyframes mymove {
        100% {transform: rotate(360deg);}
      }
 }
 .list.pointer {
     cursor: pointer;
 }
 .imgResponse {
     border-radius: 10px;
 }
 .imgResponse:hover {
     opacity: 0.9;
 }
.dark {
    margin-left: auto;
    margin-right: 10px;
    
}

.dark-mode {
    filter: invert(1) hue-rotate(180deg);
    .inverted {
        filter: invert(1) hue-rotate(180deg);
    }
    .invert {
        filter: invert(1) hue-rotate(180deg);
    }
}
